<form action="/customer/capnhat/<%= customer.id %>" method="post">
    <input type="text" value="<%= customer.name %>" name="name" placeholder="name">
    <input type="email" value="<%= customer.email %>" name="email" placeholder="Email">
    <input type="text" value="<%= customer.state %>" name="state" placeholder="Nhap State">
    <input type="submit" value="edit">
    </form>