<form action="/customer/create" method="post">
<input type="text" name="name" placeholder="name">
<input type="email" name="email" placeholder="Email">
<input type="text" name="state" placeholder="Nhap State">
<input type="submit">
</form>